/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* main section */

.h1-color {
    color: #59A5FF;
}

.banner {
    object-fit: cover;
    height: 600px;
}


/* .calculation {
    background-color: #F8F8F8;
} */

.buttons {
    background-color: #59A5FF;
    transition: all ease 0.2s;
}

.buttons:hover {
    transform: scale(0.9);
}


/* main section */